.buttonGreen:hover { background: $green; }
.buttonBlue:hover { background: $blue; }
.buttonGreen:hover, .buttonBlue:hover { color: #fff; }

.width45p {
    width: 45%;
}

.mr10p {
    margin-right: 10%;
}