/* Reset  */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,header,hgroup,footer,section,nav,aside,article,details,pre,code,form,fieldset,label,legend,button,object,iframe,p,blockquote,span,a,i,b,em,table,tbody,tfoot,thead,tr,th,td { margin:0; padding:0;border:0; background-repeat:no-repeat; font-weight: 100; }
input, textarea, i { margin:0; padding:0; outline: none; }
table { border-collapse:collapse; border-spacing:0; }
header,hgroup,footer,section,nav,aside,article,details,img,label,input,form { display:block; }
a img { border:0; }
img, iframe { overflow:hidden; }